Repository containers/ai-lab-recipes, pull requests merged in 2024-04, with the labels that each got.

#260 include common directory in tests on path changes
  .github/workflows/chatbot.yaml
  .github/workflows/codegen.yaml
  .github/workflows/model_image_build_push.yaml
  .github/workflows/model_servers.yaml
  .github/workflows/rag.yaml
  .github/workflows/summarizer.yaml
  .gitignore
  recipes/common/Makefile.common
  recipes/common/bin/.gitkeep
  recipes/natural_language_processing/chatbot/Makefile
  recipes/natural_language_processing/codegen/Makefile
  recipes/natural_language_processing/rag/Makefile
  recipes/natural_language_processing/summarizer/Makefile
  recipes/natural_language_processing/tests/conftest.py
Labels: ready-for-review, tests, bugfix

#256 fix: update object_detection recipe for be compatible with AI Lab
  model_servers/object_detection_python/src/object_detection_server.py
Labels: size: small

#300 adding merlinite and granite models
  models/Makefile
Labels: ready-for-review, models

#301 fixing testing framework with image ref being moved
  CONTRIBUTING.md
  ailab-images.md
  model_servers/llamacpp_python/README.md
  model_servers/llamacpp_python/tests/conftest.py
  recipes/audio/audio_to_text/bootc/Containerfile
  recipes/audio/audio_to_text/bootc/README.md
  recipes/common/Makefile.common
  recipes/common/README.md
  recipes/natural_language_processing/chatbot/ai-lab.yaml
  recipes/natural_language_processing/chatbot/bootc/Containerfile
  recipes/natural_language_processing/chatbot/bootc/README.md
  recipes/natural_language_processing/chatbot/provision/playbook.yml
  recipes/natural_language_processing/codegen/ai-lab.yaml
  recipes/natural_language_processing/codegen/bootc/Containerfile
  recipes/natural_language_processing/codegen/provision/playbook.yml
  recipes/natural_language_processing/rag/ai-lab.yaml
  recipes/natural_language_processing/rag/bootc/Containerfile
  recipes/natural_language_processing/rag/provision/playbook.yml
  recipes/natural_language_processing/summarizer/ai-lab.yaml
  recipes/natural_language_processing/summarizer/bootc/Containerfile
  recipes/natural_language_processing/summarizer/provision/playbook.yml
Labels: bug, ready-for-review

#352 [Model Upgrade] upgrade `mistral-7b-instruct-v0.1` to `mistral-7b-instruct-v0.2`
  .github/workflows/model_image_build_push.yaml
  ailab-images.md
  model_servers/llamacpp_python/tests/conftest.py
  model_servers/llamacpp_python/tooling_options.ipynb
  models/Containerfile
  models/Makefile
  recipes/common/Makefile.common
  recipes/natural_language_processing/rag/README.md
Labels: ready-for-review, models

#387 refactor instructlab training images to use make targets
  .github/workflows/instructlab_baseimages_build_push.yaml
  training/Makefile
  training/amd-bootc/Makefile
  training/intel-bootc/Makefile
  training/nvidia-bootc/Makefile
Labels: CI/CD

#350 swap granite for mistral cleanup + model and recipe housekeeping
  .github/workflows/chatbot.yaml
  .github/workflows/codegen.yaml
  .github/workflows/model_image_build_push.yaml
  .github/workflows/model_servers.yaml
  .github/workflows/rag.yaml
  .github/workflows/summarizer.yaml
  ailab-images.md
  model_servers/llamacpp_python/Makefile
  model_servers/llamacpp_python/tests/conftest.py
  model_servers/whispercpp/Makefile
  models/Containerfile
  models/Makefile
  models/README.md
  recipes/audio/audio_to_text/bootc/Containerfile
  recipes/common/Makefile.common
  recipes/common/README.md
  recipes/natural_language_processing/chatbot/bootc/Containerfile
  recipes/natural_language_processing/codegen/Makefile
  recipes/natural_language_processing/rag/README.md
  recipes/natural_language_processing/rag/bootc/Containerfile
  recipes/natural_language_processing/summarizer/bootc/Containerfile
Labels: ready-for-review, models

#388 version pinning ubuntu runner
  .github/workflows/ailab_build_push_manual.yaml
  .github/workflows/chatbot.yaml
  .github/workflows/codegen.yaml
  .github/workflows/instructlab_baseimages_build_push.yaml
  .github/workflows/mirror-repository.yaml
  .github/workflows/model-converter.yaml
  .github/workflows/model_image_build_push.yaml
  .github/workflows/model_servers.yaml
  .github/workflows/rag.yaml
  .github/workflows/summarizer.yaml
  .github/workflows/testing-framework.yaml
Labels: CI/CD
